{% macro simple_table(columns, items) %}
<div class="table-responsive-lg">
	<table class="table table-hover mb-0 table-no-bottom-border">
		<thead>
			<tr>
				{% for column in columns %}
				{% set col_name = "" %}
				{% set class = "fw-normal fst-italic" %}
				{% set colspan = 1 %}
				{% if column is string %}
				{% set col_name = column %}
				{% elif column is mapping %}
				{% set col_name = column.name %}
				{% if column.class is defined %}
				{% set class = class~" "~column.class %}
				{% endif %}
				{% if column.colspan is defined %}
				{% set colspan = column.colspan %}
				{% endif %}
				{% endif %}
				<th class="{{ class }}" {% if colspan !=1 %} colspan={{colspan}}{% endif %}>{{ col_name }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				{{ caller(item) }}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endmacro%}
