{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% import "general_table_macros.html" as tables %}
{% block title %}BiGG Gene {{bigg_id}}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-6">
    {% call cards.item_card("gene_L", "Gene", accent=True) %}
      <div class="card-body">
        <h5 class="card-title">{{bigg_id}}</h5>
        {% if name is not none %}<p class="card-text">{{name}}</p>{% endif %}
      </div>
      {% call cards.flush_list_group(accent=True) %}
        {{ cards.flush_list_group_item("Model", model_bigg_id, "/models/"~model_bigg_id, accent=True) }}
        {% if mapped_to_genbank %}
          {% set strand_string = "Unknown" %}
          {% if strand == '-' %}
            {% set strand_string = "Minus" %}
          {% elif strand == '+' %}
            {% set strand_string = "Plus" %}
          {% endif %}
          {{ cards.flush_list_group_item("Position", leftpos~" - "~rightpos, accent=True) }}
          {{ cards.flush_list_group_item("Strand", strand_string, accent=True) }}
          {{ cards.flush_list_group_item("Chromosome", chromosome_ncbi_accession, link="/genomes/"~genome_ref_string~"#"~chromosome_ncbi_accession, accent=True) }}
        {% endif %}
      {% endcall %}
    {% endcall %}
  </div>
  {% if protein_sequence is not none %}
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">
          Protein Sequence
        </h5>
      </div>
      <div class="card-body">
        <div class="user-select-all font-monospace small lh-sm">{{protein_sequence}}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if dna_sequence is not none %}
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">
          DNA Sequence
        </h5>
      </div>
      <div class="card-body">
        <div class="user-select-all font-monospace small lh-sm">{{dna_sequence}}</div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Associated reactions</h5>
      </div>
      <div class="card-body p-0">
        {% call(reaction) tables.simple_table(["&nbsp;", "BiGG ID", "Name", "Gene reaction rule"], reactions) %}
          {% set link -%}/models/{{model_bigg_id}}/reactions/{{reaction['bigg_id']}}{%- endset %}
          <td style="width: 1.2em;"><a href="{{link}}" class="d-block"><img src="/static/assets/reaction.svg" style="height: 1em;" /></a></td>
          <td><a href="{{link}}" class="d-block">{{reaction['bigg_id']}}</a></td>
          <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{reaction['name']}}</a></td>
          <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{reaction['gene_reaction_rule']}}</a></td>
        {% endcall %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
