{% extends "general_main.html" %}
{% block title %}BiGG Gene {{bigg_id}}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3 bg-body-tertiary">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/assets/molecule.svg" class="img-fluid p-4 w-100 h-100" alt="Gene">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{bigg_id}}</h5>
            {% if name is not none %}<p class="card-text">{{name}}</p>{% endif %}
          </div>
          <ul class="list-group list-group-flush rounded-3 bg-body-tertiary">
            <li class="list-group-item bg-body-tertiary"><i>Model:</i> <a href="/models/{{model_bigg_id}}" class="stretched-link">{{model_bigg_id}}</a></li>
            {% if mapped_to_genbank %}
            <li class="list-group-item bg-body-tertiary"><i>Position:</i> {{leftpos}} – {{rightpos}}</li>
            <li class="list-group-item bg-body-tertiary"><i>Strand:</i> {% if strand == '-' %}Minus{% elif strand == '+' %}Plus{% endif %}</li>
            <li class="list-group-item bg-body-tertiary"><i>Chromosome:</i> <a href="/genomes/{{genome_ref_string}}#{{chromosome_ncbi_accession}}" class="stretched-link">{{chromosome_ncbi_accession}}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% if protein_sequence is not none %}
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">
          Protein Sequence
        </h5>
      </div>
      <div class="card-body">
        <div class="user-select-all font-monospace small lh-sm">{{protein_sequence}}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if dna_sequence is not none %}
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">
          DNA Sequence
        </h5>
      </div>
      <div class="card-body">
        <div class="user-select-all font-monospace small lh-sm">{{dna_sequence}}</div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Associated reactions</h5>
      </div>
      <div class="card-body p-0">
        <table class="table table-hover mb-0 table-no-bottom-border">
          <thead>
            <tr>
              <th class="fw-normal fst-italic" style="width: 1.2em;">&nbsp;</th>
              <th class="fw-normal fst-italic">BiGG ID</th>
              <th class="fw-normal fst-italic">Name</th>
              <th class="fw-normal fst-italic">Gene reaction rule</th>
            </tr>
          </thead>
          <tbody>
            {% for reaction in reactions %}
            <tr>
              {% set link -%}/models/{{model_bigg_id}}/reactions/{{reaction['bigg_id']}}{%- endset %}
              <td><a href="{{link}}" class="d-block"><img src="/static/assets/reaction.svg" style="height: 1em;" /></a></td>
              <td><a href="{{link}}" class="d-block">{{reaction['bigg_id']}}</a></td>
              <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{reaction['name']}}</a></td>
              <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{reaction['gene_reaction_rule']}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
