{% macro simple_table(columns, items) %}
<div class="table-responsive-lg">
	<table class="table table-hover mb-0 table-no-bottom-border">
		<thead>
			<tr>
				{% for column in columns %}
				{% set col_name = "" %}
				{% set class = "fw-normal fst-italic" %}
				{% set colspan = 1 %}
				{% if column is string %}
				{% set col_name = column %}
				{% elif column is mapping %}
				{% set col_name = column.name %}
				{% if column.class is defined %}
				{% set class = class~" "~column.class %}
				{% endif %}
				{% if column.colspan is defined %}
				{% set colspan = column.colspan %}
				{% endif %}
				{% endif %}
				<th class="{{ class }}" {% if colspan !=1 %} colspan={{colspan}}{% endif %}>{{ col_name
					}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				{{ caller(item) }}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endmacro%}
{% macro data_table(table_id, columns, data_url, row_icon=none, is_search=false, highlight=none) %}
<table id="data_table_{{table_id}}" class="table table-hover mb-0 table-no-bottom-border">
	<thead>
		<tr>
			{% if row_icon %}
			<th>&nbsp;</th>
			{% endif %}
			{% for column in columns %}
			<th>{{column.name}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tfoot>
		<tr>
			{% if row_icon %}
			<th>&nbsp;</th>
			{% endif %}
			{% for column in columns %}
			<th>{{column.name}}</th>
			{% endfor %}
		</tr>
	</tfoot>
</table>
<script>
	let select_cols_{{table_id}} = {{columns | selectattr('search_type', 'equalto', 'bool') | map(attribute = 'identifier') | list() | tojson()}};
	let table_{{table_id}} = new DataTable('#data_table_{{table_id}}', {
		{%if is_search %}order: [], {% elif row_icon %}order: [[1, 'asc']], {% endif %}
		ajax: {
			url: '{{data_url}}',
			type: 'POST'
		},
		columns: [
			{% if row_icon %}{
			data: 'x', name: 'x', width: '1.2em', orderable: false, searchable: false, defaultContent: '',
				render: function (data, type) {
					if (type === 'display') {
						return '<img src="/static/assets/iconset.svg#{{row_icon}}" style="height: 1em;" />'
					}
					return data;
				}
			}, {% endif %}
			{% for column in columns %}
			{
				data: '{{column.identifier}}',
				name: '{{column.identifier}}',
				{% if column.hyperlink is not none %}
				render: function(data, type, row) {
					if (type === 'display') {
						let link = `{{column.hyperlink}}`;
						return '<a href="' + link + '">' + data + '</a>';
					}
					return data;
				},
				{% endif %}
				},
			{% endfor %}
		],
		processing: true,
		serverSide: true,
		initComplete: function () {
			{% if is_search %}
			report_search_count('{{table_id}}', this.api().page.info().recordsTotal)
			{% endif %}
			this.api()
				.columns()
				.every(function () {
					let column = this;
					if (select_cols_{{table_id}}.includes(column.dataSrc())) {
				add_bool_select_search(column);
			} else if (column.dataSrc() !== "x") {
				add_text_search(column);
			};
		});
		},
		{% if highlight is not none %}
		drawCallback: function () {
			var body = $(this.api().table().body());
			body.unhighlight();
			console.log("{{highlight}}");
			body.highlight("{{highlight}}");
		}
		{% endif %}
	});
</script>
{% endmacro %}
