{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% block title %}BiGG Genome {{name}}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-4">
    {% call cards.item_card("genome_L", "Genome", accent=True) %}
      <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      </div>
      {% call cards.flush_list_group(accent=True) %}
        {{ cards.flush_list_group_item("Organism", organism, accent=True) }}
      {% endcall %}
    {% endcall %}
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Associated models</h5>
      </div>
      <div class="card-body p-0">
        <table class="table table-hover mb-0 table-no-bottom-border">
          <thead>
            <tr>
              <th class="fw-normal fst-italic" style="width: 1.2em;">&nbsp;</th>
              <th class="fw-normal fst-italic">BiGG ID</th>
            </tr>
          </thead>
          <tbody>
            {% for model in models %}
            <tr>
              {% set link -%}/models/{{model}}{%- endset %}
              <td><a href="{{link}}" class="d-block"><img src="/static/assets/iconset.svg#model_S" style="height: 1em;" /></a></td>
              <td><a href="{{link}}" class="d-block">{{model}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Chromosomes</h5>
      </div>
      <div class="card-body p-0">
        <table class="table table-hover mb-0 table-no-bottom-border">
          <thead>
            <tr>
              <th class="fw-normal fst-italic" style="width: 1.2em;">&nbsp;</th>
              <th class="fw-normal fst-italic">NCBI Accession</th>
            </tr>
          </thead>
          <tbody>
            {% for chromosome in chromosomes %}
            <tr>
              {% set link -%}http://www.ncbi.nlm.nih.gov/nuccore/{{chromosome}}{%- endset %}
              <td><img src="/static/assets/iconset.svg#chromosome_S" style="height: 1em;" /></td>
              <td>{{ general.external_link(chromosome, link) }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
