{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% import "general_table_macros.html" as tables %}
{% block title %}BiGG Genome {{name}}{% endblock %}
{% block head %}
<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.4/r-3.0.7/datatables.min.css" rel="stylesheet"
	integrity="sha384-RqJtgepBGtU0p2QrKr7V6ktj9xhjmruqRUBkoNgZSdyNDI9FYHUwbaapY3jgsx7a" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.4/r-3.0.7/datatables.min.js"
	integrity="sha384-LFoikRctTHRCzOQ2ubrUfFQlhXMtaj7g32RRDMk2UVJFlHlk/s3w8xMOPB5t92MP"
	crossorigin="anonymous"></script>
	<script src="/static/js/biggr_datatables.js"></script>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-4">
    {% call cards.item_card("genome_L", "Genome", accent=True) %}
      <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      </div>
      {% call cards.flush_list_group(accent=True) %}
        {{ cards.flush_list_group_item("Organism", organism, accent=True) }}
      {% endcall %}
    {% endcall %}
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Associated models</h5>
      </div>
      <div class="card-body p-0">
        {% call(model) tables.simple_table(["&nbsp;", "BiGG ID"], models) %}
          {% set link -%}/models/{{model}}{%- endset %}
          <td style="width: 1.2em;"><a href="{{link}}" class="d-block"><img src="/static/assets/iconset.svg#model_S" style="height: 1em;" /></a></td>
          <td><a href="{{link}}" class="d-block">{{model}}</a></td>
        {% endcall %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Chromosomes</h5>
      </div>
      <div class="card-body p-0">
        {% call(chromosome) tables.simple_table(["&nbsp;", "NCBI Accession"], chromosomes) %}
          {% set link -%}http://www.ncbi.nlm.nih.gov/nuccore/{{chromosome}}{%- endset %}
          <td style="width: 1.2em;"><img src="/static/assets/iconset.svg#chromosome_S" style="height: 1em;" /></td>
          <td>{{ general.external_link(chromosome, link) }}</td>
        {% endcall %}
      </div>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-12">
		<div class="card mb-3 pb-2">
			<div class="card-header">
				<h5 class="card-title">Genes in Genome</h5>
			</div>
			<div class="card-body p-0">
				{{ tables.data_table("listview", genes_in_genome_columns, genes_in_genome_url, "gene_S") }}
			</div>
		</div>
	</div>
</div>

{% endblock %}
