{%- set homepage = True -%}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Pascal Pieters">
  <title>{% block title %}BiGGr Models{% endblock %}</title>
  <script src="/static/js/color-modes.js"></script>
  <meta name="theme-color" content="#712cf9">
  {% include "general_style.html" %}
  {% block head %}{% endblock %}
</head>

<body class="bg-primary">
  {% include "general_color_mode_switcher.html" %}
  <main>
    {% include "general_navbar.html" %}
    <div class="container mb-5 mt-2">
      {% block body %}
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card text-bg-warning mb-3">
            <div class="card-header">
              <h5 class="card-title">Under Active Development</h5>
            </div>
            <div class="card-body">
              <p>This is a develpment version of BiGGr. Not all functions availabe on the old BiGG Models repository are
                available here yet.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card text-bg-info mb-3">
            <div class="card-header">
              <h5 class="card-title">Models</h5>
            </div>
            <div class="card-body text-center">
              <a href="/models/" class="btn btn-light">Browse models</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-bg-info mb-3">
            <div class="card-header">
              <h5 class="card-title">Metabolites</h5>
            </div>
            <div class="card-body text-center">
              <a href="/universal/metabolites/" class="btn btn-light">Browse metabolites</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-bg-info mb-3">
            <div class="card-header">
              <h5 class="card-title">Reactions</h5>
            </div>
            <div class="card-body text-center">
              <a href="/universal/reactions/" class="btn btn-light">Browse reactions</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    {% endblock %}
    </div>
  </main>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>
