{% macro highlighted_entity(base_url, bigg_id, extra=none) %}
<a class="list-group-item list-group-item-action" href="{{base_url}}{{bigg_id}}">{{bigg_id}}{% if extra %} <small><i>({{extra}})</i></small>{% endif %}</a>
{% endmacro %}
{% macro homepage_card(title, icon, url) %}
  <div class="col-md-4 mb-3">
    <div class="card">
    <div class="ps-4 pe-4 pt-1 pb-1 fw-semibold fs-5 border-bottom border-1 border-secondary-subtle position-relative"><a href="{{url}}" class="d-block stretched-link text-reset text-decoration-none">{{title}}</a></div>
      <div class="row g-0">
        <div class="col-4 position-relative d-flex flex-column justify-content-center">
        <a href="{{url}}" class="stretched-link">
        <img class="img-fluid rounded-start w-100" src="/static/assets/iconset.svg#{{icon}}">
        </a>
        </div>
        <div class="col-8">
            <div class="list-group list-group-flush border-start border-1 border-secondary-subtle h-100">
              {{ caller(url) }}
          <a href="{{url}}" class="list-group-item list-group-item-action h-100 text-center link link-primary fw-semibold d-flex flex-column justify-content-center">All {{title}}</a>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{%- set homepage = True -%}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Pascal Pieters">
  <title>{% block title %}BiGGr Models{% endblock %}</title>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/color-modes.js"></script>
  <meta name="theme-color" content="#712cf9">
  {% include "general_style.html" %}
  {% block head %}{% endblock %}
</head>

<body class="">
  {% include "general_color_mode_switcher.html" %}
  <main>
    {% include "general_navbar.html" %}
    <div class="container mb-5 mt-2">
      {% block body %}
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card bg-warning-subtle mb-3">
            <div class="card-header">
              <h5 class="card-title">Under Active Development</h5>
            </div>
            <div class="card-body">
              <p>This is a develpment version of BiGGr. Not all functions availabe on the old BiGG Models repository are
                available here yet.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        {% call(url) homepage_card("Collections", "collection_L", "/collections/") %}
          {{ highlighted_entity(url, "iECx6", extra="E. coli") }}
          {{ highlighted_entity(url, "iML1515", extra="E. coli MG1655") }}
        {% endcall %}
         
        {% call(url) homepage_card("Models", "model_L", "/models/") %}
          {{ highlighted_entity(url, "iML1515", extra="E. coli MG1655") }}
          {{ highlighted_entity(url, "iMM904", extra="S. cereviseae S288S") }}
          {{ highlighted_entity(url, "iPC815", extra="Y. pestis CO92") }}
        {% endcall %}

        {% call(url) homepage_card("Metabolites", "molecule_smallmolecule_L", "/universal/metabolites/") %}
          {{ highlighted_entity(url, "glc__D", extra="D-glucopyranose") }}
          {{ highlighted_entity(url, "atp", extra="ATP") }}
          {{ highlighted_entity(url, "arg__L", extra="L-Arginine") }}
        {% endcall %}

        {% call(url) homepage_card("Reactions", "reaction_L", "/universal/reactions/") %}
          {{ highlighted_entity(url, "ATPM", extra="ATP Mainenance") }}
          {{ highlighted_entity(url, "ALLTN", extra="Allantoinase") }}
          {{ highlighted_entity(url, "ARGDC", extra="Arg. Decarboxylase") }}
        {% endcall %}

        {% call(url) homepage_card("Genomes", "genome_L", "/genomes/") %}
          {{ highlighted_entity(url ~ "ncbi_assembly:", "GCF_000005845.2") }}
          {{ highlighted_entity(url ~ "ncbi_assembly:", "GCF_000009065.1") }}
          {{ highlighted_entity(url ~ "ncbi_assembly:", "GCF_000146045.2") }}
        {% endcall %}

        {% call(url) homepage_card("Compartments", "compartment_L", "/compartments/") %}
          {{ highlighted_entity(url, "c", extra="Cytosol") }}
          {{ highlighted_entity(url, "p", extra="Periplasm") }}
          {{ highlighted_entity(url, "e", extra="Extracellular Space") }}
        {% endcall %}
      </div>
    </div>
    {% endblock %}
    </div>
  </main>
</body>

</html>
