{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% import "general_table_macros.html" as tables %}
{% block title %}BiGG Metabolite {{bigg_id}} in {{model_bigg_id}}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12">
    {% call cards.item_and_reference("molecule_smallmolecule_L", "Small molecule", "reference_metabolite_ui.html", reference) %}
      <div class="card-body">
      <h5 class="card-title">{{bigg_id | format_id("comp_comp")}}</h5>
        {% if name %}<p class="card-text">{{name}}</p>{% endif %}
        {% if model_specific %}<div class="alert alert-primary mt-1 mb-0 p-1 ps-2 pe-2">This is a non-standardized model-specific entry.</div>{% endif %}
      </div>
      {% call cards.flush_list_group(accent=True) %}
        {{ cards.flush_list_group_item("Model", model_bigg_id, "/models/"~model_bigg_id, accent=True) }}
        {{ cards.flush_list_group_item("Compartment", compartment_bigg_id~" - "~compartment_name, accent=True) }}
        {{ cards.flush_list_group_item("Charge", charge, accent=True) }}
        {{ cards.flush_list_group_item("Formula", formula, accent=True) }}
        {{ cards.flush_list_group_item("Universal Metabolite", universal_id, link="/universal/metabolites/"~universal_id, accent=True) }}
      {% endcall %}
    {% endcall %}
  </div>
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Reactions in model</h5>
      </div>
      <div class="card-body p-0">
        {% call(reaction) tables.simple_table(["&nbsp;", "BiGG ID", "Name"], reactions) %}
          {% set link -%}/models/{{model_bigg_id}}/reactions/{{reaction['bigg_id']}}{%- endset %}
          <td style="width: 1.2em;"><a href="{{link}}" class="d-block"><img src="/static/assets/iconset.svg#reaction_S" style="height: 1em;" /></a></td>
          <td><a href="{{link}}" class="d-block">{{reaction['bigg_id'] | format_id("reaction") }}</a></td>
          <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{reaction['name']}}</a></td>
        {% endcall %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
