{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% block title %}BiGG Metabolite {{bigg_id}} in {{model_bigg_id}}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12">
    {% call cards.item_and_reference("molecule_smallmolecule_L", "Small molecule", "reference_metabolite_ui.html", reference) %}
      <div class="card-body">
        <h5 class="card-title">{{general.formatted_comp_comp(bigg_id)}}</h5>
        {% if name is not none %}<p class="card-text">{{name}}</p>{% endif %}
      </div>
      <ul class="list-group list-group-flush rounded-3 bg-body-tertiary">
        <li class="list-group-item bg-body-tertiary"><i>Model:</i> <a href="/models/{{model_bigg_id}}" class="stretched-link">{{model_bigg_id}}</a></li>
        <li class="list-group-item bg-body-tertiary"><i>Compartment:</i> {{compartment_bigg_id}} - {{compartment_name}}</li>
        <li class="list-group-item bg-body-tertiary"><i>Charge:</i> {{charge}}</li>
        <li class="list-group-item bg-body-tertiary"><i>Formula:</i> {{formula}}</li>
      </ul>
    {% endcall %}
  </div>
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Reactions in model</h5>
      </div>
      <div class="card-body p-0">
        <table class="table table-hover mb-0 table-no-bottom-border">
          <thead>
            <tr>
              <th class="fw-normal fst-italic" style="width: 1.2em;">&nbsp;</th>
              <th class="fw-normal fst-italic">BiGG ID</th>
              <th class="fw-normal fst-italic">Name</th>
            </tr>
          </thead>
          <tbody>
            {% for reaction in reactions %}
            <tr>
              {% set link -%}/models/{{model_bigg_id}}/reactions/{{reaction['bigg_id']}}{%- endset %}
              <td><a href="{{link}}" class="d-block"><img src="/static/assets/iconset.svg#reaction_S" style="height: 1em;" /></a></td>
              <td><a href="{{link}}" class="d-block">{{reaction['bigg_id']}}</a></td>
              <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{reaction['name']}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
