{% extends "general_main.html" %}
{% block title %}BiGG Model {{model_bigg_id}}{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-6">
    <div class="card mb-3 bg-body-tertiary">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/assets/molecule.svg" class="img-fluid p-4 w-100 h-100" alt="Model">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{model_bigg_id}}</h5>
            <p class="card-text">{{organism}}</p>
          </div>
          <ul class="list-group list-group-flush rounded-3 bg-body-tertiary">
            <li class="list-group-item bg-body-tertiary">
              {% if genome_name is none %}
              Model is not mapped to a genome.
              {% else %}
              <i>Genome:</i> <a href="/genomes/{{genome_ref_string}}" class="stretched-link">{{genome_name}}</a>
              {% endif %}
            </li>
            {% if reference_type == 'pmid' %}
            {%- set pmid_link -%}https://www.ncbi.nlm.nih.gov/pubmed/{{reference_id}}{%- endset -%}
            <li class="list-group-item bg-body-tertiary">
              <i>Publication PMID:</i> {{external_link(reference_id, pmid_link)}}
            </li>
            {% elif reference_type == 'doi' %}
            {%- set doi_link -%}https://dx.doi.org/{{reference_id}}{%- endset -%}
            <li class="list-group-item bg-body-tertiary">
              <i>Publication DOI:</i> {{external_link(reference_id, doi_link)}}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">Model Metrics</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush rounded-3">
          <li class="list-group-item">
              <i>Metabolites:</i> <a href="/models/{{model_bigg_id}}/metabolites" class="stretched-link">{{metabolite_count}}</a>
          </li>
          <li class="list-group-item">
              <i>Reactions:</i> <a href="/models/{{model_bigg_id}}/reactions" class="stretched-link">{{reaction_count}}</a>
          </li>
          <li class="list-group-item">
              <i>Genes:</i> <a href="/models/{{model_bigg_id}}/genes" class="stretched-link">{{gene_count}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">Download</h5>
      </div>
      <div class="card-body">
        Not implemented yet.
      </div>
    </div>
  </div>
</div>
{% endblock %}
