{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% block title %}BiGG Model {{model_bigg_id}}{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-6">
    {% call cards.item_card("model_L", "Model", True) %}
          <div class="card-body">
            <h5 class="card-title">{{model_bigg_id}}</h5>
            <p class="card-text">{{organism}}</p>
          </div>
          {% call cards.flush_list_group(accent=True) %}
          {% if genome_name is none %}
            {{ cards.flush_list_group_item(value="Model is not mapped to a genome", accent=True) }}
          {% else %}
            {{ cards.flush_list_group_item(label="Genome", value=genome_name, link="/genomes/"~genome_ref_string, accent=True) }}
          {% endif %}
            {% if reference_type == 'pmid' %}
              {{ cards.flush_list_group_item(label="Publication PMID", value=reference_id, link="https://www.ncbi.nlm.nih.gov/pubmed/"~reference_id, accent=True) }}
            {% elif reference_type == 'doi' %}
              {{ cards.flush_list_group_item(label="Publication DOI", value=reference_id, link="https://dx.doi.org/"~reference_id, accent=True) }}
            {% endif %}
          {% endcall %}
    {% endcall %}
  </div>

  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">Model Metrics</h5>
      </div>
        {{ cards.flush_list_group(model_metrics, align=6) }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">Download</h5>
      </div>
      <div class="card-body">
        Not implemented yet.
      </div>
    </div>
  </div>
</div>
{% endblock %}
