{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% import "general_table_macros.html" as tables %}
{% block title %}BiGG Reaction {{bigg_id}} in {{model_bigg_id}}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12">
    {% call cards.item_and_reference("reaction_L", "Reaction", "reference_reaction_ui.html", reference) %}
      <div class="card-body">
        <h5 class="card-title">{{bigg_id}}</h5>
        {% if name is not none %}<p class="card-text">{{name}}</p>{% endif %}
      </div>
      {% call cards.flush_list_group(accent=True) %}
        {{ cards.flush_list_group_item(value=results[0]['reaction_string'], accent=True) }}
        {{ cards.flush_list_group_item("Model", model_bigg_id, link="/models/"~model_bigg_id, accent=True) }}
        {{ cards.flush_list_group_item("Universal Reaction", universal_bigg_id, link="/universal/reactions/"~universal_bigg_id, accent=True) }}
      {% endcall %}
    {% endcall %}
  </div>
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Reaction Participants</h5>
      </div>
      <div class="card-body p-0">
        {% call(metabolite) tables.simple_table([{"name": "Stoich.", "colspan": 2}, {"name": "BiGG ID", "class": "w-25"}, "Name", {"name": "Reference", "class": "border-start"}, "x [side]", "Compartment"], metabolites) %}
          {% set link -%}/models/{{model_bigg_id}}/metabolites/{{metabolite['bigg_id']}}{%- endset %}
          {% set ref_n = metabolite['reference_participant']['reference_n'] %}
          <td style="width: 1.2em;"><a href="{{link}}" class="d-block"><img src="/static/assets/iconset.svg#{%- if metabolite["coefficient"] < 0 -%}reaction_substrate_S{%- else -%}reaction_product_S{%- endif -%}" style="height: 1em;" /></a></td>
          <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{metabolite['coefficient_int_or_float']}}</a></td>
          <td><a href="{{link}}" class="d-block">{{general.formatted_comp_comp(metabolite['bigg_id'])}}</a></td>
          <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{metabolite['name']}}</a></td>
          <td class="border-start"><a href="{{link}}" class="d-block text-reset text-decoration-none">{{general.formatted_reference(metabolite['reference']['id'])}}{%- if ref_n -%}<span> (n={{ref_n}})</span>{%- endif -%}</a></td>
          <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{metabolite['reference_participant']['coefficient']}} [{{metabolite['reference_participant']['side']}}]</a></td>
          <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{metabolite['reference_participant']['compartment']}}</a></td>
        {% endcall %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
