<div class="card m-2">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="/static/assets/reference_small_molecule.svg" class="img-fluid p-4 w-100 h-100"
				alt="Small Molecule">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">{{formatted_reference(reference['id'])}}</h5>
				<p class="card-text">{{reference['name']}}</p>
			</div>
			<ul class="list-group list-group-flush rounded-3">
				<li class="list-group-item"><i>Source:</i> ChEBI</li>
				<li class="list-group-item"><i>Type:</i> {{reference['type']}}</li>
				<li class="list-group-item"><i>Charge:</i> {{reference['charge']}}</li>
				<li class="list-group-item"><i>Formula:</i> {{reference['formula']}}</li>
			</ul>
		</div>
	</div>
</div>
