{% import "general_macros.html" as general %}
{% import "general_card_macros.html" as cards %}
{% if reference is none %}
<div class="card m-2">
	<div class="card-body d-flex align-items-center">
		<p class="lead text-secondary">No reference available.</p>
	</div>
</div>
{% else %}
<div class="card m-2">
	<div class="card-body">
		<h5 class="card-title">{{reference['bigg_id'] | format_reference}}</h5>
		<p class="card-text">{{reference['name']}}</p>
	</div>
	<ul class="list-group list-group-flush rounded-3-end">
		{{ cards.flush_list_group_item(label="Type", value=reference["type"]) }}
		{% if not reference['bigg_id'].startswith("CHEBI:") %}
		{{ cards.flush_list_group_item(label="Charge", value=reference["charge"]) }}
		{{ cards.flush_list_group_item(label="Formula", value=reference["formula"]) }}
		{% endif %}
		{{ general.inchi_list_item(reference.inchi) }}
		{% if reference['bigg_id'].startswith('CHEBI:') %}
		{% set chebi_link -%}http://identifiers.org/{{reference['bigg_id']}}{%- endset %}
		{{ cards.flush_list_group_item(value="View on ChEBI", link=chebi_link) }}
		</li>
		{% endif %}

	</ul>
</div>
{% endif %}
