{% import "general_macros.html" as general %}
<div class="card m-2 w-100">
	<div class="card-body">
		<h5 class="card-title">{{general.formatted_reference(reference['id'])}}</h5>
		{% if reference['name'] is not none %}<p class="card-text">{{reference['name']}}</p>{%
		endif %}
		<p class="card-text">{{reference['equation']}}</p>
		{% if reference['id'].startswith('RHEA:') %}
		{% set rhea_link -%}http://identifiers.org/{{reference['id']}}{%- endset %}
		<p class="card-text">{{general.external_link("View on rhea-db.org", rhea_link)}}
		</p>
		{% endif %}
	</div>
</div>
