{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% import "general_table_macros.html" as tables %}
{% block title %}BiGG Reaction: {{universal_reaction.bigg_id}}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12">
    {% call cards.item_and_reference("reaction_L", "Reaction", "reference_reaction_ui.html", [universal_reaction.reference], "linkouts_reaction_ui.html", all_annotations) %}
      <div class="card-body">
      <h5 class="card-title"><span class="fw-normal text-body-secondary">Universal:</span> {{universal_reaction.bigg_id | format_id("reaction")}}</h5>
        {% if universal_reaction.name is not none %}<p class="card-text">{{universal_reaction.name}}</p>{% endif %}
        <table class="mt-2">
          <thead>
              {% for s in aligned_reactions.urm %}
              <th>{{s}}</th>
              {% endfor %}
          </thead>
          <tbody class="table-group-divider" style="border-top-color: #CCCDCE;">
          {% for k, v in aligned_reactions.items() %}
            {% if k != "urm" %}
            <tr>
              {% for s in v %}
              <td>{{s}}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% call cards.flush_list_group(accent=True) %}
    {% if universal_reaction.is_exchange %}{{ cards.flush_list_group_item(value="Exchange reaction", accent=True) }}{% endif %}
    {% if universal_reaction.is_transport %}{{ cards.flush_list_group_item(value="Transport reaction", accent=True) }}{% endif %}
    {% if universal_reaction.is_pseudo %}{{ cards.flush_list_group_item(value="Pseudoreaction", accent=True) }}{% endif %}
      {% endcall %}
    {% endcall %}
  </div>

  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Reaction Participants</h5>
      </div>
      <div class="card-body p-0">
        {% call(urm) tables.simple_table([{"name": "Stoich.", "colspan": 2}, {"name": "BiGG ID", "class": "w-25"}, "Name", {"name": "Reference", "class": "border-start"}, "x [side]", "Compartment"], universal_reaction.matrix) %}
              {% set metabolite = urm.universal_compartmentalized_component %}
              {% set link -%}/models/universal/metabolites/{{metabolite.universal_component.bigg_id}}{%- endset %}
              {% set ref_n = urm.reference_reaction_participant.reference_n %}
              <td style="width: 1.2em;"><a href="{{link}}" class="d-block"><img src="/static/assets/{%- if urm.coefficient < 0 -%}substrate_logo{%- else -%}product_logo{%- endif -%}.svg" style="height: 1em;" /></a></td>
              <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{urm.coefficient | int_or_float }}</a></td>
              <td><a href="{{link}}" class="d-block">{{metabolite.bigg_id | format_id("universal_comp_comp")}}</a></td>
              <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{{metabolite.universal_component.name}}</a></td>
        <td class="border-start"><a href="{{link}}" class="d-block text-reset text-decoration-none">{% if metabolite.universal_component.default_component.reference_mappings|length == 0  %} - {% else %}{% for rm in metabolite.universal_component.default_component.reference_mappings %}{{rm.reference_compound.bigg_id | format_reference}}{%- if rm.reference_n -%}<span> (n={{rm.reference_n}})</span>{%- endif -%}{% endfor %}{% endif %}</a></td>
        <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{% if urm.reference_reaction_participant is none %} - {% else %}{{urm.reference_reaction_participant.coefficient }} [{{urm.reference_reaction_participant.side}}]{% endif %}</a></td>
        <td><a href="{{link}}" class="d-block text-reset text-decoration-none">{% if urm.reference_reaction_participant is none %} - {% else %}{{urm.reference_reaction_participant.compartment}}{% endif %}</a></td>
        {% endcall %}
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">In BiGGr Models</h5>
      </div>
      <div class="card-body p-0">
        {% call(model_reaction) tables.simple_table(["Organism", "Model"], model_reactions) %}
            {% set link -%}/models/{{model_reaction.model.bigg_id}}/reactions/{{model_reaction.bigg_id}}{%- endset %}
              <td>
                <a href="{{link}}" class="d-block text-reset text-decoration-none">
                  {% if model_reaction.model.organism is none %}-{% else %}{{model_reaction.model.organism}}{% endif %}</a>
              </td>
              <td>
                <a href="{{link}}" class="d-block">
                  {{model_reaction.model.bigg_id}}
                </a>
              </td>
        {% endcall %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
