{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% import "general_table_macros.html" as tables %}
{% block title %}BiGG Metabolite {{bigg_id}}{% endblock %}
{% block body %}

<div class="row">

  <div class="col-12">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><span class="fw-normal text-body-secondary">Universal:</span>{{bigg_id}}</h5>
            {% if name is not none %}<p class="card-text">{{name}}</p>{% endif %}
      </div>
    </div>
  </div>


  <div class="col-12">
    {% call cards.item_and_reference("molecule_smallmolecule_L", "Small molecule", "reference_metabolite_ui.html", reference) %}
      <div class="card-body">
        <h5 class="card-title">{{default_component['id'] | format_id("comp")}}</h5>
        {% if default_component['name'] is not none %}<p class="card-text">{{default_component['name']}}</p>{% endif %}
      </div>
      {% call cards.flush_list_group(accent=True) %}
        {{ cards.flush_list_group_item("Charge", default_component.charge, accent=True) }}
        {{ cards.flush_list_group_item("Formula", default_component.formula, accent=True) }}
      {% endcall %}
    {% endcall %}
  </div>


  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">In BiGGr Models</h5>
      </div>
      <div class="card-body p-0">
        {% call(c) tables.simple_table(["Organism", "Model", "BiGG ID"], compartments_in_models) %}
          {%- set link -%}/models/{{c['model_bigg_id']}}/metabolites/{{c['bigg_id']}}{%- endset -%}
          <td>
            {% if c['organism'] is none %}-{% else %}{{c['organism']}}{% endif %}
          </td>
          <td>
            <a href="{{link}}" class="d-block text-reset text-decoration-none">
              {{c['model_bigg_id']}}
            </a>
          </td>
          <td>
            <a href="{{link}}" class="d-block">
              {{general.formatted_comp_comp(c['bigg_id'])}}
            </a>
          </td>
        {% endcall %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

