{% extends "general_main.html" %}
{% import "general_card_macros.html" as cards %}
{% block title %}BiGG Metabolite {{bigg_id}}{% endblock %}
{% block body %}

<div class="row">

  <div class="col-12">
    <div class="card mb-3">
      <div class="card-body">
            <h5 class="card-title">Universal: {{bigg_id}}</h5>
            {% if name is not none %}<p class="card-text">{{name}}</p>{% endif %}
      </div>
    </div>
  </div>


  <div class="col-12">
    {% call cards.item_and_reference("molecule_smallmolecule_L", "Small molecule", "reference_metabolite_ui.html", reference) %}
      <div class="card-body">
        <h5 class="card-title">{{general.formatted_comp(default_component['id'])}}</h5>
        {% if default_component['name'] is not none %}<p class="card-text">{{default_component['name']}}</p>{% endif %}
      </div>
      {% call cards.flush_list_group(accent=True) %}
        {{ cards.flush_list_group_item("Charge", default_component.charge, accent=True) }}
        {{ cards.flush_list_group_item("Formula", default_component.formula, accent=True) }}
      {% endcall %}
    {% endcall %}
  </div>


  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">In BiGGr Models</h5>
      </div>
      <div class="card-body p-0">
        <table class="table table-hover mb-0 table-no-bottom-border">
          <thead>
            <tr>
              <th class="fw-normal fst-italic">Organism</th>
              <th class="fw-normal fst-italic">Model</th>
              <th class="fw-normal fst-italic">BiGG ID</th>
            </tr>
          </thead>
          <tbody>
            {% for c in compartments_in_models %}
            {%- set link -%}/models/{{c['model_bigg_id']}}/metabolites/{{c['bigg_id']}}{%- endset -%}
            <tr>
              <td>
                {% if c['organism'] is none %}-{% else %}{{c['organism']}}{% endif %}
              </td>
              <td>
                <a href="{{link}}" class="d-block text-reset text-decoration-none">
                  {{c['model_bigg_id']}}
                </a>
              </td>
              <td>
                <a href="{{link}}" class="d-block">
                  {{general.formatted_comp_comp(c['bigg_id'])}}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

