networks:
  biggr-net:
    name: biggr-net
    # external: true
    external: false

services:
  biggr-web:
    profiles:
      - prod
    build: .
    restart: always
    ports:
      - "8910:8910"
    depends_on:
      biggr-db:
        condition: service_healthy
    networks:
      - biggr-net
    volumes:
      - /data/biggr-genbank/:/genbank
      - /data/biggr-metanetx/:/metanetx
      - /data/biggr-static/:/static
      - /data/biggr-bigg-models/:/models

  nginx-prod:
    profiles:
      - prod
    container_name: biggr-nginx-prod
    build: ./nginx
    image: biggr_nginx_prod:latest
    restart: always       # for the container to be up and running again even after the VM is brought down
    volumes:
      - /data/certbot/www/:/var/www/certbot/:ro      # a mounted folder that links nginx with certbot
      - /data/certbot/conf/live/biggr.org/fullchain.pem:/etc/nginx/ssl/live/biggr.org/fullchain.pem        # the SSL certificate
      - /data/certbot/conf/live/biggr.org/privkey.pem:/etc/nginx/ssl/live/biggr.org/privkey.pem            # the SSL private key
    ports:
      - 80:80
      - 443:443
    networks:
      - biggr-net

  certbot:
    profiles:
      - prod
    image: certbot/certbot:latest
    volumes:
      - /data/certbot/www/:/var/www/certbot/:rw
      - /data/certbot/conf/:/etc/letsencrypt/:rw

  biggr-web-dev:
    profiles:
      - dev
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    restart: always
    ports:
      - "80:8910"
    depends_on:
      biggr-db:
        condition: service_healthy
    networks:
      - biggr-net
    volumes:
      - /data/biggr-genbank/:/genbank
      - /data/biggr-metanetx/:/metanetx
      - /data/biggr-static/:/static
      - /data/biggr-bigg-models/:/models
      - ./:/server
      - /projects/biggr/cobradb/:/cobradb
  biggr-db:
    container_name: biggr-postgres
    image: postgres:17.6
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - /data/biggr-postgres:/var/lib/postgresql/data
      - /projects/biggr/biggr_models/db/load-extensions.sh:/docker-entrypoint-initdb.d/load-extensions.sh
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 10
    env_file:
      - .env
    networks:
      - biggr-net
